* {
    background-color: black;
    color: white;


}

h1 {
    text-align: center;
    font-size: 2.5rem
}

h3 {
    font-size: 1.7rem;
}

h5 {
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: -20px;

}

h2 {
    text-align: center;
    font-size: 2.2rem
}

a {
    text-decoration: underline;
    font-size: 2rem;
}

.title {
    position: relative;
    top: -150px;
    text-align: center;
    font-size: 3rem
}

logo {
    margin: auto;
}

.picture {
    text-align: center;
    margin: auto;
}

li {
    list-style: none;
    display: inline;
    margin-right: 200px;
    position: relative;
    top: -150px;
}

ul {
    text-align: center;
}

.rights {
    text-align: right;


}

p {
    text-align: center;
}

.pic {
    text-align: center;
}

.mainpic {
    text-align: center;
}
